@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@import "tailwindcss";
@import "./tokens.css";

body {
  font-family: "Pretendard Variable", "Pretendard", sans-serif;
  background: var(--color-gray-white);
  color: var(--color-gray-90);
}

.h-screen-safe {
  height: 100vh;
  height: 100dvh;
}

.min-h-screen-safe {
  min-height: 100vh;
  min-height: 100dvh;
}
